<%= content_for(:title, t('.title')) %>
<div id="chat-room" data-chat-room-id="<%= @chat_room.id %>">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <%= link_to detail_partys_path do %>
          <i class="bi bi-arrow-left"></i>
        <% end %>
        <%= t('.back') %>
        <div id="messages">
          <% @messages.each do |message| %>
            <% if message.user == current_user %>
              <%= render partial: 'chat_messages/my_chat_message', locals: {chat_message: message} %>
            <% else %>
              <%= render partial: 'chat_messages/other_chat_message', locals: {chat_message: message} %>
            <% end %>
          <% end %>
        </div>

        <div class="d-sm-flex w-100 border-0 pt-3 pb-3 px-4">
          <div class="input-group">
            <input type="text" placeholder="Enterで送信" data-behavior="chat_speaker" id="chat_input" class="form-control form-control-lg" style="padding-right: 85px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
