<%= content_for(:title, t('.title')) %>
<div id="chat-room" data-chat-room-id="<%= @chat_room.id %>">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <%= link_to detail_partys_path do %>
          <i class="bi bi-arrow-left"></i>
        <% end %>
        <%= t('.back') %>
        <div id="messages">
          <% @messages.each do |message| %>
            <% if message.user == current_user %>
              <%= render partial: 'chat_messages/my_chat_message', locals: {chat_message: message} %>
            <% else %>
              <%= render partial: 'chat_messages/other_chat_message', locals: {chat_message: message} %>
            <% end %>
          <% end %>
        </div>

        <form>
          <label>Say something:</label><br>
          <input type="text" data-behavior="room_speaker">
        </form>
      </div>
    </div>
  </div>
</div>
